.skillContainer{
    margin: 5px;
    padding: 5px 0 5px 0;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.skillContainer img {
    height: 100px;
    width: 100px;
}