@import "../../c1-styles/sass/variables";

.container {
  margin-bottom: 20px;
  width: 100%;

  input {
    display: block;
    width: 76%;
    max-width: 300px;
    height: 44px;
    padding: 0 20px;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    font-size: 15px;

    &:focus {
      border: 1px solid $primaryColor;
      transition: border .4s;
    }
  }
}