.container{
    background-color: #7e56e1;
    min-height: 100vh;
    min-width: 360px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentContainer{
    border: 1px solid white;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .contentContainer{
        justify-content: center;
    }
}
.aboutMe {
    align-self: center;
}
.contentContainer img {
    width: 288px;
}