@import "../../common/c1-styles/sass/variables";

.container {
    padding: 70px 0;
    background-color: $secondaryColor;
    min-height: 50vh;
    .skillsContainer{
        padding: 0 20px 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
    }
}