@import "../../c1-styles/sass/variables";

.btnContainer {
  .element {
    background-color: $primaryColor;
    color: $mainBackground;
    border: 2px solid $primaryColor;
    border-radius: 40px;
    padding: 12px 36px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
      background-color: $secondaryColor;
      color: $textColor;
      transition: background-color .5s;
    }
  }
}