.container{
    background-color: #1E90FF;
    width: 100vw;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentContainer {
    border: 1px solid;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.contentContainer img{
    min-width: 50px;
    width: 100px;
    margin: 2px;
}
