@import "./common/c1-styles/sass/variables.sass";

.container{
    display: flex;
    flex-direction: column;
    border: 15px solid $textColor;
}

.container span,p,a,h1,h2,h3 {
    background-color: white;
}
